/********************************
Bootstrap Variables Override
**********************************/
:root {
  /* Replace your primary color from your UI Kit */
  --bs-primary: #03eebf;

  /* Replace your secondary color from your UI Kit  */
  --secondary-color: #00a685;

  /* Replace the main body font from your UI Kit */
  --bs-font-sans-serif: "Poppins", sans-serif;

  /* Optional: Replace gradient from your UI Kit */
  --bs-gradient: linear-gradient(180deg, #3b7271, rgba(255, 255, 255, 0));
}
/********************************
Global Styles and UI Components
**********************************/
.navbar {
  /* Optional: Make the navbar background transparent */
  background: linear-gradient(to top, #45f3b6, #4d809f);

  /* Optional: Move the navbar is positioned over the hero */

  /* Optional: Stretch the navbar across the full width */
  width: 100%;

  /* Optional: Add inner spacing to the navbar */
  padding-left: 3rem;
  padding-right: 3rem;
}

body {
  /* Background color for the hero section */
  background-color: black;
}

.card {
  background: linear-gradient(to top, #3b7271, black);
  border: none;
  max-width: 500px;
  min-height: 575px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  /* Change footer background color */
  background-color: var(--bs-primary);
  /* Optional: Change footer text color to white using variable */
  color: var(--bs-white);
  /* Optional: Center footer elements */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer .footer-social {
  /* Optional: Change size of footer icon */
  width: 24px;
  margin: 0.5rem;
}

.btn-primary {
  /* Optional: Change primary button background color to primary color */
  background-color: var(--bs-primary);
  color: black;
  /* Optional: Remove primary button outline */
  border: none;
  min-width: 100%;
  max-width: 29.1rem;
}

.btn-primary:hover {
  /* Optional: Change primary button hover state background and text color  */
  background-color: var(--secondary-color);
  color: var(--bs-dark);
}

a {
  color: white;
  text-decoration: none;
}

/********************************
Typography
**********************************/

h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
}

h2 {
  color: white;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
}

h3,
h4 {
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}

h5 {
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

h6 {
  /* Optional: Add letter spacing to all headings */
  letter-spacing: -0.05rem;
  /* Optional: Adjust font-weight to all headings */
  font-weight: 700;
}

p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

.display-1 {
  /* Optional: Customizes display-1 style based on my Figma UI kit */
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 100%;
  letter-spacing: -0.2rem;
}

.display-2 {
  /* Optional: Customizes display-2 style based on my Figma UI kit */
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 100%;
  letter-spacing: -0.2rem;
}

.kicker {
  /* Optional: Establish new custom text style class called "kicker" */
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Optional: Customize responsive style for display-1 on small devices and larger */
  .display-1 {
    font-size: 4rem;
  }

  h1 {
    font-size: 4.2rem;
  }
}

/********************************
Page-Specific
**********************************/
/* PAGE: Home */
.hero {
  /* Add a background image for the hero section */
  background: url(../images/top_radient.png);

  /* Background color for the hero section */
  background-color: black;

  /* Adjust image size to cover the entire section */
  background-size: cover;

  /* Center the background image */
  background-position: center;

  /* Optional: Color text white */
  color: var(--bs-white);

  /* Optional: Add a full-height hero section */
  height: 75vh;
  /* Optional: Add necessary props to center the text in the middle of the hero */
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
#about-me {
  /* Optional: Add a background image for the hero section */
  background: url(../images/bg-1.png);

  /* Optional: Make the image cover the entire section */
  background-size: cover;

  /* Optional: Color text white */
  color: var(--bs-white);
}

#projects a {
  /* Optional: Remove underline on project card links */
  text-decoration: none;
}
